.animation-rotate {
  animation: rotate 7s linear infinite;
}
.animation-pulse {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  30% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.05);
  }
}
